<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
    {% block content %}
      {% if region == 'sidebar_first' and plugin_id != 'sidebar_block' %}
        <div class="block-inner clearfix">
          <div class="block-content content">
            {{ content }}
          </div>
        </div>
      {% else %}
        {{ content }}
      {% endif %}
    {% endblock %}
</div>